///
/// Scheme font face preview
///

@font-face {
	font-family: 'Alkatra';
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url( ../../../../fonts/marker/marker.woff2 ) format( 'woff2' );
}

@font-face {
	font-family: 'Alkatra';
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url( ../../../../fonts/marker/marker.woff2 ) format( 'woff2' );
}

$marker_stack: 'Alkatra', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$sans_stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

:root {
	// General.
	--cfe-fpv--marker--general--family: #{$sans_stack};
	--cfe-fpv--marker--display--font-family: #{$marker_stack};
}
