///
/// Color Scheme: Topaz
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #333333;
$color_one: #a35c17;
$color_two: #bb621a;
$color_three: #bb621a;
$color_four: #e08022;
$color_five: #bb621a;
$color_six: #e08022;

$color_body_dark: #1b130c;
$color_text_dark: #eeeeee;
$color_one_dark: #e08022;
$color_two_dark: #bb621a;
$color_three_dark: #254d88;
$color_four_dark: #e08022;
$color_five_dark: #204170;
$color_six_dark: #e08022;
