///
/// Color Scheme: Ruby
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #333333;
$color_one: #c30020;
$color_two: #eb0027;
$color_three: #eb0027;
$color_four: #ff1a40;
$color_five: #eb0027;
$color_six: #ff1a40;

$color_body_dark: #1b070a;
$color_text_dark: #eeeeee;
$color_one_dark: #ff1a40;
$color_two_dark: #eb0027;
$color_three_dark: #eb0027;
$color_four_dark: #ff1a40;
$color_five_dark: #eb0027;
$color_six_dark: #ff1a40;
