///
/// Scheme font face preview
///

@font-face {
	font-family: 'Crimson Pro';
	font-weight: 200 900;
	font-style: normal;
	font-display: swap;
	src: url( ../../../../fonts/serif/crimson.woff2 ) format( 'woff2' );
}

@font-face {
	font-family: 'Crimson Pro';
	font-weight: 200 900;
	font-style: italic;
	font-display: swap;
	src: url( ../../../../fonts/serif/crimson-italic.woff2 ) format( 'woff2' );
}

$crimson_stack: 'Crimson Pro', Georgia, 'Hoefler Text', 'Baskerville Old Face', Garamond, Times, 'Times New Roman', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$serif_stack: Georgia, 'Hoefler Text', 'Baskerville Old Face', Garamond, Times, 'Times New Roman', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

:root {
	--cfe-fpv--serif--general--family: #{$serif_stack};
	--cfe-fpv--serif--display--font-family: #{$crimson_stack};
	--cfe-fpv--serif--primary--font-size: 2.5rem;
	--cfe-fpv--serif--secondary--font-size: 1.75rem;
	--cfe-fpv--serif--display--font-size: 1.125rem;
	--cfe-fpv--serif--general--font-size: 1.0625rem;
}
