///
/// Color Scheme: Emerald
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #333333;
$color_one: #00801b;
$color_two: #00a024;
$color_three: #00a024;
$color_four: #00c62a;
$color_five: #00a024;
$color_six: #00c62a;

$color_body_dark: #0d2412;
$color_text_dark: #eeeeee;
$color_one_dark: #467ac7;
$color_two_dark: #00a024;
$color_three_dark: #254d88;
$color_four_dark: #00c62a;
$color_five_dark: #254d88;
$color_six_dark: #00c62a;
