///
/// Scheme font face preview
///

$default_stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

:root {
	--cfe-fpv--default--general--font-family: #{$default_stack};
	--cfe-fpv--default--display--font-family: #{$default_stack};
}
