:root {
  --cfe-scheme-color--body: #ffffff;
  --cfe-scheme-color--text: #2a180c;
  --cfe-scheme-color--body--dark: #2a180c;
  --cfe-scheme-color--text--dark: #eeeeee;
  --cfe-scheme-color--one: #2ea65e;
  --cfe-scheme-color--two: #4dce81;
  --cfe-scheme-color--three: #f83d5c;
  --cfe-scheme-color--four: #f9657d;
  --cfe-scheme-color--five: #f37709;
  --cfe-scheme-color--six: #ff901a;
  --cfe-scheme-color--one--dark: #0044aa;
  --cfe-scheme-color--two--dark: #005ce7;
  --cfe-scheme-color--three--dark: #333333;
  --cfe-scheme-color--four--dark: #555555;
  --cfe-scheme-color--five--dark: #888888;
  --cfe-scheme-color--six--dark: #cccccc;
}