///
/// Color Scheme: 1930s Club
///

// Schemes color maps.
$light: (
	'body'  : #ffffff,
	'text'  : #2a180c,
	'one'   : #f83d5c,
	'two'   : #f9657d,
	'three' : #2ea65e,
	'four'  : #4dce81,
	'five'  : #ed7409,
	'six'   : #ff8a0d
);
$dark: (
	'body'  : #180e07,
	'text'  : #eeeeee,
	'one'   : #f9657d,
	'two'   : #f83d5c,
	'three' : #2ea65e,
	'four'  : #4dce81,
	'five'  : #ed7409,
	'six'   : #ff8a0d
);

// CSS properties.
:host,
:root {
	@each $name, $color in $light {
		--cfe-scheme-color--#{$name}: #{$color};
	}
	@each $name, $color in $dark {
		--cfe-scheme-color--#{$name}--dark: #{$color};
	}

	--cfe-heading-primary--link--text-color: var( --cfe-scheme-color--three );
	--cfe-heading-primary--link--action--text-color: var( --cfe-scheme-color--four );
}
