///
/// Color Scheme: Amethyst
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #333333;
$color_one: #380756;
$color_two: #4b0776;
$color_three: #4b0776;
$color_four: #64099e;
$color_five: #4b0776;
$color_six: #64099e;

$color_body_dark: #170d1e;
$color_text_dark: #eeeeee;
$color_one_dark: #467ac7;
$color_two_dark: #64099e;
$color_three_dark: #4b0776;
$color_four_dark: #64099e;
$color_five_dark: #4b0776;
$color_six_dark: #64099e;
