:host,
:root {
  --cfe-scheme-color--body: #ffffff;
  --cfe-scheme-color--text: #333333;
  --cfe-scheme-color--one: #380756;
  --cfe-scheme-color--two: #4b0776;
  --cfe-scheme-color--three: #4b0776;
  --cfe-scheme-color--four: #64099e;
  --cfe-scheme-color--five: #4b0776;
  --cfe-scheme-color--six: #64099e;
  --cfe-scheme-color--body--dark: #170d1e;
  --cfe-scheme-color--text--dark: #eeeeee;
  --cfe-scheme-color--one--dark: #467ac7;
  --cfe-scheme-color--two--dark: #64099e;
  --cfe-scheme-color--three--dark: #4b0776;
  --cfe-scheme-color--four--dark: #64099e;
  --cfe-scheme-color--five--dark: #4b0776;
  --cfe-scheme-color--six--dark: #64099e;
}