@font-face {
  font-family: "Playfair";
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
  src: url(../../../../fonts/cosmo/playfair.woff2) format("woff2");
}
@font-face {
  font-family: "Playfair";
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
  src: url(../../../../fonts/cosmo/playfair-italic.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url(../../../../fonts/cosmo/raleway.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url(../../../../fonts/cosmo/raleway-italic.woff2) format("woff2");
}
:root {
  --cfe-fpv--cosmo--general--font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-fpv--cosmo--display--font-family: Playfair, Hoefler Text, Baskerville Old Face, Garamond, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-fpv--cosmo--primary--font-size: 2.5rem;
  --cfe-fpv--cosmo--secondary--font-size: 1.5625rem;
  --cfe-fpv--cosmo--display--font-size: 1.125rem;
  --cfe-fpv--cosmo--general--font-size: 1.125rem;
}