///
/// Color Scheme: 1960s Dress
///

// Get general colors.
@import '../../../modules/_utility';

:root {}

@media ( prefers-color-scheme: dark ) {
	:root {
		--cfe-scheme-color--body:  var( --cfe-scheme-color--body--dark );
		--cfe-scheme-color--text:  var( --cfe-scheme-color--text--dark );
		--cfe-scheme-color--one:   var( --cfe-scheme-color--one--dark );
		--cfe-scheme-color--two:   var( --cfe-scheme-color--two--dark );
		--cfe-scheme-color--three: var( --cfe-scheme-color--three--dark );
		--cfe-scheme-color--four:  var( --cfe-scheme-color--four--dark );
		--cfe-scheme-color--five:  var( --cfe-scheme-color--five--dark );
		--cfe-scheme-color--six:   var( --cfe-scheme-color--six--dark );
	}
}
