///
/// Color Scheme: Turquoise
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #333333;
$color_one: #009c72;
$color_two: #00a77a;
$color_three: #00a77a;
$color_four: #00d299;
$color_five: #00a77a;
$color_six: #00d299;

$color_body_dark: #081915;
$color_text_dark: #eeeeee;
$color_one_dark: #00d299;
$color_two_dark: #00a77a;
$color_three_dark: #00a77a;
$color_four_dark: #00d299;
$color_five_dark: #00a77a;
$color_six_dark: #00d299;
