:host,
:root {
  --cfe-admin--menu--link--action--bg-color: #ff0000;
  --cfe-admin--menu--link--action--bg-color--dark: #ff0000;
  --cfe-button--bg-color: #ff0000;
  --cfe-button--border-color: #f7f7f7;
  --cfe-button--action--bg-color: #dd0000;
  --cfe-button--action--border-color: #f7f7f7;
  --cfe-button--primary--bg-color: #ff0000;
  --cfe-button--primary--border-color: #f7f7f7;
  --cfe-button--primary--action--bg-color: #dd0000;
  --cfe-button--primary--action--border-color: #f7f7f7;
}