///
/// Scheme font face preview
///

@font-face {
	font-family: 'Montserrat';
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url( ../../../../fonts/modern/montserrat.woff2 ) format( 'woff2' );
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url( ../../../../fonts/modern/montserrat-italic.woff2 ) format( 'woff2' );
}

@font-face {
	font-family: 'Nunito';
	font-weight: 200 1000;
	font-style: normal;
	font-display: swap;
	src: url( ../../../../fonts/modern/nunito-sans.woff2 ) format( 'woff2' );
}

@font-face {
	font-family: 'Nunito';
	font-weight: 200 1000;
	font-style: italic;
	font-display: swap;
	src: url( ../../../../fonts/modern/nunito-sans-italic.woff2 ) format( 'woff2' );
}

$montserrat_stack: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$nunito_stack: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

:root {
	--cfe-fpv--modern--general--font-family: #{$nunito_stack};
	--cfe-fpv--modern--display--font-family: #{$montserrat_stack};
	--cfe-fpv--modern--primary--font-size: 2rem;
	--cfe-fpv--modern--secondary--font-size: 1.375rem;
	--cfe-fpv--modern--display--font-size: 1rem;
	--cfe-fpv--modern--general--font-size: 1.125rem;
	--cfe-fpv--modern--primary--font-variant: small-caps;
	--cfe-fpv--modern--secondary--font-variant: small-caps;
}
