@font-face {
  font-family: "Source Code Pro";
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
  src: url(../../../../fonts/code/source-code.woff2) format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
  src: url(../../../../fonts/code/source-code-italic.woff2) format("woff2");
}
:root {
  --cfe-fpv--code--general--font-family: Source Code Pro, Roboto Mono, Fira Code, Liberation Mono, Inconsolata, Menlo, Monaco, Consolas, Cascadia Mono, Segoe UI Mono, Oxygen Mono, Ubuntu Monospace, Fira Mono, Droid Sans Mono, Courier New, Courier, ui-monospace, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-fpv--code--display--font-family: Source Code Pro, Roboto Mono, Fira Code, Liberation Mono, Inconsolata, Menlo, Monaco, Consolas, Cascadia Mono, Segoe UI Mono, Oxygen Mono, Ubuntu Monospace, Fira Mono, Droid Sans Mono, Courier New, Courier, ui-monospace, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-fpv--code--primary--font-size: 2rem;
  --cfe-fpv--code--secondary--font-size: 1.375rem;
  --cfe-fpv--code--display--font-size: 1rem;
  --cfe-fpv--code--general--font-size: 1rem;
}