///
/// Color Scheme: Citrus
///

// Scheme colors.
$color_body: #fffffe;
$color_text: #111a0b;
$color_one: #ff7700;
$color_two: #ff5500;
$color_three: #ffbb00;
$color_four: #ffdd11;
$color_five: #ff7700;
$color_six: #ffcc00;

$color_body_dark: #111a0b;
$color_text_dark: #fffffe;
$color_one_dark: #ffdd11;
$color_two_dark: #ffbb00;
$color_three_dark: #ff7700;
$color_four_dark: #ff5500;
$color_five_dark: #ff7700;
$color_six_dark: #ffcc00;
