///
/// Color Scheme: Orchid
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #28081c;
$color_one: #b800b1;
$color_two: #ff00f6;
$color_three: #e20093;
$color_four: #ff2db8;
$color_five: #e20093;
$color_six: #ff2db8;

$color_body_dark: #28081c;
$color_text_dark: #fbf3f6;
$color_one_dark: #ff00f6;
$color_two_dark: #b800b1;
$color_three_dark: #e20093;
$color_four_dark: #ff2db8;
$color_five_dark: #e20093;
$color_six_dark: #ff2db8;
