///
/// Scheme font face preview
///

@font-face {
	font-family: 'Roboto';
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
	src: url( ../../../../fonts/condensed/roboto.woff2 ) format( 'truetype' );
}

@font-face {
	font-family: 'Roboto';
	font-weight: 200 800;
	font-style: italic;
	font-display: swap;
	src: url( ../../../../fonts/condensed/roboto-italic.woff2 ) format( 'truetype' );
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 300 700;
	font-style: normal;
	font-display: swap;
	src: url( ../../../../fonts/condensed/roboto-condensed.woff2 ) format( 'truetype' );
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 300 700;
	font-style: italic;
	font-display: swap;
	src: url( ../../../../fonts/condensed/roboto-condensed-italic.woff2 ) format( 'truetype' );
}

$text_stack: 'Roboto', 'Franklin Gothic Medium', 'Franklin Gothic', 'Open Sans', Tahoma, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$display_stack: 'Roboto Condensed', 'Oswald', Impact, 'Franklin Gothic', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

:root {
	--cfe-fpv--condensed--fonts--display-stack: #{$display_stack};
	--cfe-fpv--condensed--body--font-family: #{$text_stack};
	--cfe-fpv--condensed--body--letter-spacing: -0.02em;
	--cfe-fpv--condensed--display--font-family: #{$display_stack};
	--cfe-fpv--condensed--display--font-weight: 700;
	--cfe-fpv--condensed--display--letter-spacing: -0.03em;
	--cfe-fpv--condensed--heading-primary--font-family: #{$display_stack};
	--cfe-fpv--condensed--heading-primary--font-size: 2rem;
	--cfe-fpv--condensed--heading-primary--font-weight: 700;
	--cfe-fpv--condensed--heading-primary--letter-spacing: normal;
	--cfe-fpv--condensed--display--font-size: 1.0625rem;
}
