@font-face {
  font-family: "Roboto";
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
  src: url(../../../../fonts/condensed/roboto.woff2) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
  src: url(../../../../fonts/condensed/roboto-italic.woff2) format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
  src: url(../../../../fonts/condensed/roboto-condensed.woff2) format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
  src: url(../../../../fonts/condensed/roboto-condensed-italic.woff2) format("truetype");
}
:root {
  --cfe-fpv--condensed--fonts--display-stack: Roboto Condensed, Oswald, Impact, Franklin Gothic, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-fpv--condensed--general--font-family: Roboto, Franklin Gothic Medium, Franklin Gothic, Open Sans, Tahoma, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-fpv--condensed--general--letter-spacing: -0.02em;
  --cfe-fpv--condensed--display--font-family: Roboto Condensed, Oswald, Impact, Franklin Gothic, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-fpv--condensed--display--font-weight: 700;
  --cfe-fpv--condensed--display--letter-spacing: -0.03em;
  --cfe-fpv--condensed--heading-primary--font-family: Roboto Condensed, Oswald, Impact, Franklin Gothic, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-fpv--condensed--heading-primary--font-size: 2rem;
  --cfe-fpv--condensed--heading-primary--font-weight: 700;
  --cfe-fpv--condensed--heading-primary--letter-spacing: normal;
  --cfe-fpv--condensed--display--font-size: 1.0625rem;
}