///
/// Code typography scheme
///

@font-face {
	font-family: 'Roboto';
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
	src: url( ../../../../fonts/condensed/roboto.woff2 ) format( 'truetype' );
}

@font-face {
	font-family: 'Roboto';
	font-weight: 200 800;
	font-style: italic;
	font-display: swap;
	src: url( ../../../../fonts/condensed/roboto-italic.woff2 ) format( 'truetype' );
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 300 700;
	font-style: normal;
	font-display: swap;
	src: url( ../../../../fonts/condensed/roboto-condensed.woff2 ) format( 'truetype' );
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 300 700;
	font-style: italic;
	font-display: swap;
	src: url( ../../../../fonts/condensed/roboto-condensed-italic.woff2 ) format( 'truetype' );
}

$text_stack: 'Roboto', 'Franklin Gothic Medium', 'Franklin Gothic', 'Open Sans', Tahoma, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$display_stack: 'Roboto Condensed', 'Oswald', Impact, 'Franklin Gothic', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

:root {

	// General.
	--cfe-fonts--display-stack: #{$display_stack};
	--cfe-body--font-family: #{$text_stack};
	--cfe-body--letter-spacing: -0.02em;
	--cfe-display--font-family: #{$display_stack};
	--cfe-display--font-weight: 700;
	--cfe-display--letter-spacing: -0.03em;
	--cfe-heading-primary--font-family: #{$display_stack};
	--cfe-heading-primary--font-size: 2rem;
	--cfe-heading-primary--font-weight: 700;
	--cfe-heading-primary--letter-spacing: normal;

	--cfe-button--font-size: 1.0625rem;
	--cfe-cover--title--font-weight: 700;

	// Header.
	--cfe-site-title--font-family: #{$display_stack};
	--cfe-site-title--font-size: 1.625rem;
	--cfe-display--font-weight: 700;
	--cfe-display--letter-spacing: -0.03em;

	// Navigation.
	--cfe-site-nav--item--font-size: 1.0625rem;

	// Content.

	// Aside.
	--cfe-sidebar--heading--font-size: 1.5rem;
	--cfe-sidebar--link--font-weight: 600;
}
