///
/// Color Scheme: Violet
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #220b28;
$color_one: #a400aa;
$color_two: #dd00e5;
$color_three: #672178;
$color_four: #8f2ea7;
$color_five: #005b0c;
$color_six: #8f2ea7;

$color_body_dark: #220b28;
$color_text_dark: #eeeeee;
$color_one_dark: #dd00e5;
$color_two_dark: #a400aa;
$color_three_dark: #672178;
$color_four_dark: #8f2ea7;
$color_five_dark: #672178;
$color_six_dark: #8f2ea7;
