///
/// Color Scheme: Sunrise
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #3b3c3c;
$color_one: #0044aa;
$color_two: #0066cc;
$color_three: #555555;
$color_four: #888888;
$color_five: #333333;
$color_six: #555555;

$color_body_dark: #1b0209;
$color_text_dark: #f3f3f3;
$color_one_dark: #ffffff;
$color_two_dark: #ffdd00;
$color_three_dark: #333333;
$color_four_dark: #555555;
$color_five_dark: #333333;
$color_six_dark: #555555;
