:root {
  --cfe-scheme-color--body: #ffffff;
  --cfe-scheme-color--text: #333333;
  --cfe-scheme-color--body--dark: #ffffff;
  --cfe-scheme-color--text--dark: #333333;
  --cfe-scheme-color--one: #c90a00;
  --cfe-scheme-color--two: #ff0000;
  --cfe-scheme-color--three: #00a1c9;
  --cfe-scheme-color--four: #4cc8e6;
  --cfe-scheme-color--five: #ff126f;
  --cfe-scheme-color--six: #ff6f94;
  --cfe-scheme-color--one--dark: #0044aa;
  --cfe-scheme-color--two--dark: #005ce7;
  --cfe-scheme-color--three--dark: #333333;
  --cfe-scheme-color--four--dark: #555555;
  --cfe-scheme-color--five--dark: #888888;
  --cfe-scheme-color--six--dark: #cccccc;
}