///
/// Color Scheme: 1950s Diner
///

// Get general colors.
@import '../../../modules/_utility';

:root {

	// General colors.
	--cfe-scheme-color--body: #{$white};
	--cfe-scheme-color--text: #{$dark_gray};
	--cfe-scheme-color--body--dark: #{$white};
	--cfe-scheme-color--text--dark: #{$dark_gray};

	--cfe-scheme-color--one: #c90a00;
	--cfe-scheme-color--two: #ff0000;
	--cfe-scheme-color--three: #00a1c9;
	--cfe-scheme-color--four: #4cc8e6;
	--cfe-scheme-color--five: #ff126f;
	--cfe-scheme-color--six: #ff6f94;

	--cfe-scheme-color--one--dark: #{$blue};
	--cfe-scheme-color--two--dark: #{lighten( $blue, 12% )};
	--cfe-scheme-color--three--dark: #{$dark_gray};
	--cfe-scheme-color--four--dark: #{$medium_gray};
	--cfe-scheme-color--five--dark: #{$light_gray};
	--cfe-scheme-color--six--dark: #{$pale_gray};
}
