:root {
  --cfe-scheme-color--body: #ffffff;
  --cfe-scheme-color--text: #333333;
  --cfe-scheme-color--body--dark: #ffffff;
  --cfe-scheme-color--text--dark: #333333;
  --cfe-scheme-color--one: #1d683b;
  --cfe-scheme-color--two: #2da45d;
  --cfe-scheme-color--three: #937e28;
  --cfe-scheme-color--four: #c8ab37;
  --cfe-scheme-color--five: #8a2b26;
  --cfe-scheme-color--six: #c32323;
  --cfe-scheme-color--one--dark: #0044aa;
  --cfe-scheme-color--two--dark: #005ce7;
  --cfe-scheme-color--three--dark: #333333;
  --cfe-scheme-color--four--dark: #555555;
  --cfe-scheme-color--five--dark: #888888;
  --cfe-scheme-color--six--dark: #cccccc;
}