///
/// Necessary styles if default theme is used.
///

@import 'modules/_utility';
@import 'modules/_root';

// Default has no dark user preference styles.
:root {

	// User toolbar.
	--cfe-toolbar--bg-color: #{$white};
	--cfe-toolbar--bg-color--dark: #{$white};
	--cfe-toolbar--text-color: #212529;
	--cfe-toolbar--text-color--dark: #212529;
	--cfe-toolbar--link--padding: 0 0.5em;
	--cfe-toolbar--link--bg-color: #{$white};
	--cfe-toolbar--link--bg-color--dark: #{$white};
	--cfe-toolbar--link--text-color: #0078D4;
	--cfe-toolbar--link--text-color--dark: #0078D4;
	--cfe-toolbar--link--action--bg-color: #{$white};
	--cfe-toolbar--link--action--bg-color--dark: #{$white};
	--cfe-toolbar--link--action--text-color: #003f6f;
	--cfe-toolbar--link--action--text-color--dark: #003f6f;
	--cfe-toolbar--submenu--link--action--bg-color: #{$white};
	--cfe-toolbar--submenu--link--action--bg-color--dark: #{$white};
	--cfe-toolbar--submenu--link--text-color: #0078D4;
	--cfe-toolbar--submenu--link--text-color--dark: #0078D4;
}

///
/// Screen reader text
///
/// Use when text needs to be hidden for
/// display purposes but needs to be in
/// the DOM for visually impaired/blind
/// people and for search engines.
///
/// No variables because this class does
/// not need to/ought not change.
.screen-reader-text {
	border: 0;
	clip: rect( 1px, 1px, 1px, 1px );
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

// JavaScript helper classes.
.no-js {
	.hide-if-no-js {
		display: none !important;
	}
}

.js {
	.hide-if-js {
		display: none !important;
	}
}

.hidden {
	display: none !important;
}

.avatar {
	border-radius: 50%;
}

// Icons.
.svg-icon {
	display: inline-block;
	line-height: 1;

	svg {
		height: 1em;
		vertical-align: middle;
		fill: currentColor;
	}
}

*.semi-bold {
	font-weight: 600;
}

code.select {
	user-select: all;
}

// User toolbar.
.user-toolbar {
	position: fixed;
	top: 0;
	z-index: 8888;
	width: 100%;
	height: var( --cfe-toolbar--height );
	overflow: visible;
	padding: var( --cfe-toolbar--padding );
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: var( --cfe-toolbar--height );
	background-color: var( --cfe-toolbar--bg-color );
	color: var( --cfe-toolbar--text-color );
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgba( $color: white, $alpha: 0.125 );
	box-shadow: 0.125rem 0.125rem 0.5rem rgba( $color: black, $alpha: 0.25 );

	@media ( max-width: $break-max-md ) {
		height: var( --cfe-toolbar--mobile--height );
		line-height: var( --cfe-toolbar--mobile--height );
	}

	@media ( prefers-color-scheme: dark ) {}

	ul {
		list-style: none;
		margin: 0;

		&.user-toolbar-nav-list {
			display: flex;
			gap: 0;
			padding: 0;
		}

		li {
			position: relative;
			display: inline-flex;
			margin: 0;
			padding: var( --cfe-toolbar--link--padding );
			max-height: 2rem;
			font-size: var( --cfe-toolbar--font-size );
			font-weight: var( --cfe-toolbar--font-weight );
			background-color: var( --cfe-toolbar--link--bg-color );
			color: var( --cfe-toolbar--link--text-color );

			@media ( prefers-color-scheme: dark ) {}

			&.has-submenu {
				display: inline-flex;
				align-items: center;
				gap: 0 0.5em;
				cursor: pointer;
			}

			&:hover,
			&:focus {
				background-color: var( --cfe-toolbar--link--action--bg-color );
				color: var( --cfe-toolbar--link--action--text-color );

				@media ( prefers-color-scheme: dark ) {}
			}

			&:hover {
				ul {
					left: 0;

					&.user-actions-sublist {
						left: auto;
						right: 0;
					}
				}
			}

			span {
				display: inline-block;

				&.svg-icon {
					cursor: pointer;
				}
			}

			a {
				display: inline-flex;
				align-items: center;
				gap: 0.5em;
				text-decoration: none;
				color: var( --cfe-toolbar--link--text-color );

				@media ( max-width: $break-max-md ) {
					gap: 0 0.75em;
				}

				@media ( prefers-color-scheme: dark ) {}

				&:hover {
					background-color: var( --cfe-toolbar--link--action--bg-color );
					color: var( --cfe-toolbar--link--action--text-color );

					@media ( prefers-color-scheme: dark ) {}
				}

				&.user-toolbar-logo-link {
					height: var( --cfe-toolbar--height );
					display: inline-flex;
					align-items: center;
				}

				.top-level-text {
					display: inline;

					@media ( max-width: $break-max-md ) {
						border: 0;
						clip: rect( 1px, 1px, 1px, 1px );
						-webkit-clip-path: inset(50%);
								clip-path: inset(50%);
						height: 1px;
						margin: -1px;
						overflow: hidden;
						padding: 0;
						position: absolute !important;
						width: 1px;
						word-wrap: normal !important;
					}
				}
			}
		}

		ul {
			display: block;
			position: absolute;
			top: 100%;
			left: -9999em;
			padding: 0.5rem 0;
			width: 160px;
			background-color: var( --cfe-toolbar--submenu--bg-color, inherit );
			box-shadow: 0.125rem 0.125rem 0.5rem rgba( $color: black, $alpha: 0.25 );

			@media ( prefers-color-scheme: dark ) {}

			&.user-actions-sublist {
				left: auto;
				right: -9999em;
			}

			li {
				display: block;
				margin: 0;
				max-height: 100%;
				padding: 0;
				background-color: transparent;
				color: transparent;

				@media ( max-width: $break-max-md ) {
					height: var( --cfe-toolbar--height );
					line-height: var( --cfe-toolbar--height );
				}

				@media ( prefers-color-scheme: dark ) {}

				a {
					display: block;
					padding: 0 1rem;
					background-color: var( --cfe-toolbar--submenu--link--bg-color, inherit );
					color: var( --cfe-toolbar--submenu--link--text-color, inherit );

					@media ( prefers-color-scheme: dark ) {
						background-color: var( --cfe-toolbar--submenu--link--bg-color--dark, inherit );
					}

					&:hover,
					&:focus {
						background-color: var( --cfe-toolbar--submenu--link--action--bg-color, inherit );
						color: var( --cfe-toolbar--submenu--link--action--text-color, inherit );

						@media ( prefers-color-scheme: dark ) {
							background-color: var( --cfe-toolbar--submenu--link--action--bg-color--dark, inherit );
							color: var( --cfe-toolbar--submenu--link--action--text-color--dark, inherit );
						}
					}
				}
			}
		}

		img {
			display: inline-block;

			&.toolbar-avatar {
				margin: 0 0.5em;
			}
		}
	}

	#profile-link {
		span {
			@media ( max-width: $break-max-md ) {
				border: 0;
				clip: rect( 1px, 1px, 1px, 1px );
				-webkit-clip-path: inset(50%);
						clip-path: inset(50%);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute !important;
				width: 1px;
				word-wrap: normal !important;
			}
		}
	}

	.user-toolbar-logo {
		max-height: 24px;
	}
}

.tab-pane h2 {
	margin: 1.5rem  0 0.5rem 0;
	padding: 0 0 0.5rem 0;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
	border-bottom: 1px solid #dee2e6;
}

form {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		max-width: 640px;
	}
}

.form-control-has-button {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 0.25em;
	width: 100%;
	margin: 0;
	padding: 0;
}

.form-range-controls {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 1em;
	width: 100%;
	margin: 0;
	padding: 0;
}

.form-range-preview-image {
	margin: 0 0 0.5rem 0;
}

.plugin-form {
	.multi-check-wrap {
		margin-top: 1rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.25em 1em;

		label {
			margin: 0 !important;
			display: inline-block;
			cursor: pointer;

			input {
				cursor: pointer;
			}
		}
	}
}

.image-field-preview {
	max-width: 80px;
}

.image-field-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem 0.25rem;

	label {
		margin: 0 !important;
	}
}

// Color fields.
#form-color-thumbs-list {
	list-style: none;
	margin: 0;
	padding: 0;

	ul {
		list-style: none;
		margin: 0.5em 0 0 0;
		padding: 0;
		display: flex;
		flex-wrap: nowrap;
		gap: 0.25rem;

		li {
			display: block;
			margin: 0;
			padding: 0;
			width: 1.5rem;
			height: 1.5rem;
			border: solid 1px #ced4da;
			border-radius: 50%;
		}
	}
}

// Dashboard.
#dashboard {
	.list-group.list-group-striped {
		list-style: none;

		li {
			&:first-of-type {
				margin: 0 0 1rem 0;
			}

			&:not( :first-of-type ) {
				padding: 0.5rem 1rem;
			}

			&:nth-of-type( even ) {
				background-color: var( --cfe-striped--bg-color, #eeeeee );
			}
		}
	}

	#hello-message {
		text-transform: capitalize;

		.fa {
			display: none !important;
		}
	}

	#jsclippyContainer {
		padding: 0 0 3rem 0;

		div {
			padding: 0;
		}
	}

	.search-suggestion-options {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.quick-links-icons {
		font-size: 3em;
		width: 100%;
	}
}

.database-list {
	margin: 2rem 0;

	h2 {
		margin: 0;
		font-family: var( --cfe-heading-secondary--font-family );
		font-size: var( --cfe-heading-secondary--font-size );
		font-weight: var( --cfe-heading-secondary--font-weight );
		font-style: var( --cfe-heading-secondary--font-style );
		font-variant: var( --cfe-heading-secondary--font-variant );
		line-height: var( --cfe-heading-secondary--line-height );
		letter-spacing: var( --cfe-heading-secondary--letter-spacing );
		word-spacing: var( --cfe-heading-secondary--word-spacing );
		-webkit-text-decoration: var( --cfe-heading-secondary--text-decoration );
				text-decoration: var( --cfe-heading-secondary--text-decoration );
		text-transform: var( --cfe-heading-secondary--text-transform );
		color: var( --cfe-heading-secondary--text-color, var( --cfe-text-color ) );
	}

	p {
		margin: 0;
	}

	ul {
		list-style: none;
		max-width: max-content;
		margin: 1em 0 0 0;
		padding: 0;

		li {
			padding: 0.25em 0.5em;

			&:nth-of-type(odd) {
				background-color: $off_white;
			}
		}

		span {
			display: inline-block;
		}
	}

	.option-name {
		font-family: var( --cfe-fonts--monospace-stack, monospace );
		font-weight: 500;
	}

	.option-value {
		font-weight: 600;
	}
}

.field-has-buttons {
	display: flex;
	gap: 0 0.25rem;
	flex-wrap: nowrap;
}

.text-above-field {
	margin: 0.5rem 0;
}

.code-field {
	font-family: var( --cfe-code-field--font-family, var( --cfe-fonts--monospace-stack ) );
	font-size: var( --cfe-code-field--font-size, 1em );
	font-weight: var( --cfe-code-field--font-weight, 500 );
}

///
/// Image uploads
///
/// Includes Dropzone and album styles.
///
.upload-album-empty {
	width: 100%;
	min-height: 160px;
	margin: 1rem 0 0 0;
	border: var( --cfe-form-element--border );
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media ( prefers-color-scheme: dark ) {
		border: var( --cfe-form-element--border--dark );
	}

	p {
		font-weight: 700;
	}
}

.refresh-after-upload {
	margin: 1rem 0 0 0;
}

.tab-pane {
	&.tab-pane-image-upload {
		p {
			&:first-of-type {
				margin: 0;
			}
		}

		.dropzone {
			margin: 1rem 0 0 0;
		}
	}

	.image-select-list {
		list-style: none;
		width: 100%;
		margin: 1rem 0 0 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;

		li {
			display: block;
			position: relative;
			width: 80px;
			height: 80px;
			border: var( --cfe-form-element--border );

			@media ( prefers-color-scheme: dark ) {
				border: var( --cfe-form-element--border--dark );
			}
;
			label {
				margin: 0 !important;
				cursor: pointer;

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					pointer-events: none;
				}

				&.selected {
					&:before {
						background-color: rgba( $color: black, $alpha: 0.325 );
					}

					&:after {
						background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cpath fill='%23ffffff' fill-opacity='0.8' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e");
						background-position: center center;
						background-repeat: no-repeat;
						background-size: 32px
					}
				}
			}

			input {
				appearance: none !important;
				display: block;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
			}

			img {
				display: block;
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
	}

	.image-upload-list {
		list-style: none;
		margin: 1rem 0 0 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		li {
			&:not( :first-of-type ) {
				padding: 1.5rem 0 0 0;
				border-top: var( --cfe-box--border );
			}
		}

		img {
			border: var( --cfe-form-element--border );

			@media ( prefers-color-scheme: dark ) {
				border: var( --cfe-form-element--border--dark );
			}
		}
	}
}

.dz-image {

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		background-color: rgba( $color: black, $alpha: 0.325 );
	}

	img {
		border: var( --cfe-form-element--border );

		@media ( prefers-color-scheme: dark ) {
			border: var( --cfe-form-element--border--dark );
		}
	}
}

.upload-form-album {
	width: 100%;
	display: flex;
	gap: 1rem;
	order: 2;

	&.current {
		order: 1;
	}
}

.image-album-preview {
	display: flex;
	gap: 0.5rem;
}

.image-album-buttons {
	margin: 0.5rem 0 0 0;
}

.image-in-album {
	display: block;

	img {
		display: block;
	}
}

.image-album-name {
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
}

.dropzone {
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5rem;

	.dz-preview {
		margin: 0;

		.dz-progress {
			opacity: 1;
			z-index: 1000;
			pointer-events: none;
			position: absolute;
			height: 0.5rem;
			left: 0.25rem;
			right: 0.25rem;
			top: calc( 50% - 0.25rem );
			width: calc( 100% - 0.5rem );
			border-radius: 0.25rem;
			margin: 0;
			background-color: transparent;
			overflow: hidden;

			.dz-upload {
				background: rgba( $color: white, $alpha: 0.8 );
			}
		}
	}
}

#font-preview-list {
	padding: 0;

	svg {
		max-width: 480px;
		fill: currentColor;
	}
}

// Optional "back to top" button.
#to-top {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: auto;
	left: auto;
	right: 2rem;
	bottom: 2rem;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0078d4;
	border: solid 1px #0078d4;
	color: #ffffff;
	border-radius: 0.2rem;
	transform: translateY(0);
	transition: opacity .5s, background-color .25s, transform .25s;

	@media screen and ( max-width: 640px ) {
		display: none;
	}

	&.scrolled {
		opacity: 1;
		pointer-events: all;
	}

	&:hover {
		background-color: #4585cf;
		border-color: #4a90e2;
		transform: translateY( -0.25rem );
	}

	svg {
		width: 1.25rem;
		height: 1.25rem;
		fill: currentColor;
	}
}
