///
/// Color Scheme: Bronze
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #2e2c31;
$color_one: #a88548;
$color_two: #c19b57;
$color_three: #a88548;
$color_four: #c19b57;
$color_five: #2e2c31;
$color_six: #a88548;

$color_body_dark: #20190d;
$color_text_dark: #eeeeee;
$color_one_dark: #c19b57;
$color_two_dark: #a88548;
$color_three_dark: #a88548;
$color_four_dark: #c19b57;
$color_five_dark: #503f21;
$color_six_dark: #a88548;
