///
/// Color Scheme: Gold
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #2b2200;
$color_one: #b88014;
$color_two: #e7a21e;
$color_three: #b88014;
$color_four: #e7a21e;
$color_five: #402c07;
$color_six: #b88014;

$color_body_dark: #191503;
$color_text_dark: #eeeeee;
$color_one_dark: #e7a21e;
$color_two_dark: #b88014;
$color_three_dark: #b88014;
$color_four_dark: #e7a21e;
$color_five_dark: #402c07;
$color_six_dark: #b88014;
