///
/// Color Scheme: Copper
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #381a0c;
$color_one: #cb6c07;
$color_two: #e88a0f;
$color_three: #cb6c07;
$color_four: #e88a0f;
$color_five: #237944;
$color_six: #2ca05a;

$color_body_dark: #211813;
$color_text_dark: #eeeeee;
$color_one_dark: #e87e0f;
$color_two_dark: #bc6407;
$color_three_dark: #e87e0f;
$color_four_dark: #bc6407;
$color_five_dark: #237944;
$color_six_dark: #2ca05a;
