///
/// Color Scheme: Corporate
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #2c3e50;
$color_one: #2779ae;
$color_two: #324c67;
$color_three: #324c67;
$color_four: #547190;
$color_five: #324c67;
$color_six: #547190;

$color_body_dark: #192e41;
$color_text_dark: #ecf0f1;
$color_one_dark: #3498db;
$color_two_dark: #2980b9;
$color_three_dark: #2980b9;
$color_four_dark: #3498db;
$color_five_dark: #324c67;
$color_six_dark: #2980b9;
