:host,
:root {
  --cfe-scheme-color--body: #ffffff;
  --cfe-scheme-color--text: #2c3e50;
  --cfe-scheme-color--one: #2779ae;
  --cfe-scheme-color--two: #324c67;
  --cfe-scheme-color--three: #324c67;
  --cfe-scheme-color--four: #547190;
  --cfe-scheme-color--five: #324c67;
  --cfe-scheme-color--six: #547190;
  --cfe-scheme-color--body--dark: #192e41;
  --cfe-scheme-color--text--dark: #ecf0f1;
  --cfe-scheme-color--one--dark: #3498db;
  --cfe-scheme-color--two--dark: #2980b9;
  --cfe-scheme-color--three--dark: #2980b9;
  --cfe-scheme-color--four--dark: #3498db;
  --cfe-scheme-color--five--dark: #324c67;
  --cfe-scheme-color--six--dark: #2980b9;
}