///
/// Marker typography scheme
///

@font-face {
	font-family: 'Alkatra';
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url( ../../../../fonts/signage/alkatra.woff2 ) format( 'woff2' );
}

@font-face {
	font-family: 'Alkatra';
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url( ../../../../fonts/signage/alkatra.woff2 ) format( 'woff2' );
}

$display_stack: 'Alkatra', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$text_stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

:root {
	// General.
	--cfe-fonts--display-stack: #{$display_stack};
	--cfe-body--font-family: #{$text_stack};
	--cfe-display--font-family: #{$display_stack};
	--cfe-display--font-weight: 550;
	--cfe-display--letter-spacing: normal;
	--cfe-heading-primary--font-family: #{$display_stack};
	--cfe-heading-primary--font-size: 2rem;
	--cfe-heading-primary--font-weight: 700;
	--cfe-heading-secondary--font-family: #{$display_stack};
}
