///
/// Color Scheme: 1970s Kitchen
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #381f0f;
$color_one: #b02b14;
$color_two: #e03214;
$color_three: #df7b0b;
$color_four: #ffb400;
$color_five: #677d08;
$color_six: #93ad00;

$color_body_dark: #1e1108;
$color_text_dark: #eeeeee;
$color_one_dark: #ffb400;
$color_two_dark: #df7b0b;
$color_three_dark: #677d08;
$color_four_dark: #555555;
$color_five_dark: #b02b14;
$color_six_dark: #93ad00;
