///
/// Color Scheme: Rose
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #1b0209;
$color_one: #ff1a40;
$color_two: #e00020;
$color_three: #f7417c;
$color_four: #ff6797;
$color_five: #f7417c;
$color_six: #ff6797;

$color_body_dark: #1b0209;
$color_text_dark: #f3f3f3;
$color_one_dark: #ff6797;
$color_two_dark: #f7417c;
$color_three_dark: #e00020;
$color_four_dark: #ff1a40;
$color_five_dark: #f7417c;
$color_six_dark: #ff6797;
