///
/// Color Scheme: Garnet
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #333333;
$color_one: #d40000;
$color_two: #ff0000;
$color_three: #d40000;
$color_four: #ff0000;
$color_five: #d40000;
$color_six: #ff0000;

$color_body_dark: #1b0505;
$color_text_dark: #eeeeee;
$color_one_dark: #ff2222;
$color_two_dark: #d40000;
$color_three_dark: #d40000;
$color_four_dark: #ff0000;
$color_five_dark: #d40000;
$color_six_dark: #ff0000;
