///
/// Button styles
///

.btn-group {
	position: relative;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
}

.btn,
.button {
	display: var( --cfe-button--display, inline-block );
	width: var( --cfe-button--width, auto );
	margin: var( --cfe-button--margin );
	padding: var( --cfe-button--padding, 0.5rem );
	line-height: var( --cfe-button--line-height, 1 );
	font-family: var( --cfe-button--font-family, var( --cfe-body--font-family, var( --cfe-sans-stack, sans-serif ) ) );
	font-size: var( --cfe-button--font-size, 1rem );
	font-weight: var( --cfe-button--font-weight, 600 );
	font-style: var( --cfe-button--font-style, normal );
	font-variant: var( --cfe-button--font-variant, normal );
	letter-spacing: var( --cfe-button--letter-spacing, normal );
	word-spacing: var( --cfe-button--word-spacing, normal );
	text-decoration: var( --cfe-button--text-decoration, none );
	background-color: var( --cfe-button--bg-color, var( --cfe-body--bg-color, inherit ) );
	border: solid 1px var( --cfe-button--border-color, #555555 );
	border-radius: var( --cfe-button--border-radius, 0px );
	color: var( --cfe-button--text-color, var( --cfe-text-color, #333333 ) ) !important;
	transition: var( --cfe-button--transition, all 0.15s ease-in-out );
	cursor: var( --cfe-button--cursor, pointer );;

	@media ( prefers-reduced-motion: reduce ) {
		transition: none;
	}

	&:hover,
	&:focus {
		background-color: var( --cfe-button--action--bg-color, #333333 );
		border-color: var( --cfe-button--action--border-color, #555555 );
		color: var( --cfe-button--action--text-color, #ffffff ) !important;
	}

	&.disabled,
	&:disabled,
	&.btn-link:disabled,
	&.btn-link.disabled {
		cursor: var( --cfe-button--disabled--cursor, not-allowed );
		background-color: var( --cfe-button--disabled--bg-color, #eeeeee );
		border-color: var( --cfe-button--disabled--border-color, #cccccc );
		color: var( --cfe-button--disabled--text-color, #cccccc ) !important;
	}

	&.btn-primary,
	&.button-primary {
		background-color: var( --cfe-button--primary--bg-color, var( --cfe-link--text-color ) );
		border-color: var( --cfe-button--primary--border-color, var( --cfe-link--text-color ) );
		color: var( --cfe-button--primary--text-color, #ffffff ) !important;

		@media ( prefers-color-scheme: dark ) {
			background-color: var( --cfe-button--primary--bg-color--dark, var( --cfe-link--text-color--dark ) );
			border-color: var( --cfe-button--primary--border-color, var( --cfe-link--text-color--dark ) );
			color: var( --cfe-button--primary--text-color--dark, #ffffff ) !important;
		}

		&:hover,
		&:focus {
			background-color: var( --cfe-button--primary--action--bg-color, var( --cfe-link--action--text-color ) );
			border-color: var( --cfe-button--primary--action--border-color, var( --cfe-link--action--text-color ) );
			color: var( --cfe-button--primary--action--text-color, #ffffff ) !important;

			@media ( prefers-color-scheme: dark ) {
				background-color: var( --cfe-button--primary--action--bg-color--dark, var( --cfe-link--action--text-color--dark ) );
				border-color: var( --cfe-button--primary--action--border-color--dark, var( --cfe-link--action--text-color--dark ) );
				color: var( --cfe-button--primary--action--text-color--dark, #ffffff ) !important;
			}
		}
	}

	&.button-small {
		padding: var( --cfe-button--small--padding, 0.5rem );
		font-size: var( --cfe-button--small--font-size, 0.8125rem );
		font-weight: var( --cfe-button--small--font-weight, var( --cfe-button--font-weight, 600 ) );
	}

	&.btn-lg {
		padding: 0.75rem 1rem;
		font-size: 1.25rem;
	}

	&.btn-danger {
		background-color: #dd0000;
		color: #ffffff !important;

		&:hover {
			background-color: #ff0000;
		}
	}
}

.dark-mode {
	.btn,
	.button {
		&.btn-primary,
		&.button-primary {
			background-color: var( --cfe-button--primary--bg-color--dark, var( --cfe-link--text-color--dark ) );
			border-color: var( --cfe-button--primary--border-color, var( --cfe-link--text-color--dark ) );
			color: var( --cfe-button--primary--text-color--dark, #ffffff ) !important;

			&:hover,
			&:focus {
				background-color: var( --cfe-button--primary--action--bg-color--dark, var( --cfe-link--action--text-color--dark ) );
				border-color: var( --cfe-button--primary--action--border-color--dark, var( --cfe-link--action--text-color--dark ) );
				color: var( --cfe-button--primary--action--text-color--dark, #ffffff ) !important;
			}
		}
	}
}

a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}

.btn-block {
	display: block;
	width: 100%;

	& + .btn-block {
		margin-top: 0.5rem;
	}
}

.btn-group-lg > .btn {
	padding: 0.75rem 1rem;
	font-size: 1.25rem;
}

// For small devices.
@media ( max-width: $break-max-sm ) {

	#jsmediaManagerButton,
	#jscategoryButton,
	#jsdescriptionButton {
		width: 100%;
		text-align: left;
	}
}
