///
/// Admin menu & user toolbar
///

// Admin menu.
div.sidebar {
	margin: 0;
	padding: 0 0 1rem 0;
	background-color: var( --cfe-admin-menu--bg-color, $dark_gray );
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: rgba( $color: white, $alpha: 0.125 );

	@media ( prefers-color-scheme: dark ) {
		background-color: var( --cfe-admin-menu--bg-color, $near_black );
	}

	ul {
		margin: 0;
		padding: 0;

		.nav-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0;
			padding: 0;
			font-family: var( --cfe-admin-menu--item--font-family, inherit );
			font-size: var( --cfe-admin-menu--item--font-size, 1rem );
			font-weight: var( --cfe-admin-menu--item--font-weight );
			font-style: var( --cfe-admin-menu--item--font-style, inherit );
			font-variant: var( --cfe-admin-menu--item--font-variant, inherit );
			line-height: var( --cfe-admin-menu--item--line-height, inherit );
			letter-spacing: var( --cfe-admin-menu--item--letter-spacing, normal );
			word-spacing: var( --cfe-admin-menu--item--word-spacing, normal );
			text-decoration: var( --cfe-admin-menu--item--text-decoration );
			text-transform: var( --cfe-admin-menu--item--text-transform );

			&:first-of-type {
				display: none;
			}

			a {
				width: 100%;
				max-width: 100%;
				height: 2.5rem;
				display: inline-flex;
				flex-wrap: nowrap;
				align-items: center;
				gap: 0.5rem;
				padding: 0.5rem 1rem;
				color: var( --cfe-admin--menu--link--text-color, #ffffff );
				text-decoration: none;
				transition: background-color .15s, color .15s;

				&.icon-link {
					width: auto;

					span {
						margin: 0;
						text-align: center;
					}
				}

				.fa-plus-circle {
					color: var( --cfe-admin--menu--link--text-color, #ffffff ) !important;
				}

				&:hover,
				&:focus {
					background-color: var( --cfe-admin--menu--link--action--bg-color );
					color: var( --cfe-admin--menu--link--action--text-color, #ffffff );

					@media ( prefers-color-scheme: dark ) {
						background-color: var( --cfe-admin--menu--link--action--bg-color--dark );
						color: var( --cfe-admin--menu--link--action--text-color--dark, #ffffff );
					}
				}

				.svg-icon {
					width: 1em;
					margin: 0 0.25em 0 0;
				}
			}

			h4 {
				margin: 0.5rem 0 0 0;
				padding: 0.5rem 1rem;
				font-size: var( --cfe-heading-secondary--font-size );
				font-weight: var( --cfe-heading-secondary--font-weight );
				text-transform: none;
				color: var( --cfe-admin--menu--link--text-color, #ffffff );

				&:first-of-type {
					margin: 0;
				}

				&:not( :first-of-type ) {
					border-top: solid 1px rgba( $color: white, $alpha: 0.125 );
				}

				a {
					padding: 0.5rem 1rem;
				}
			}

			hr {
				margin: 1rem;
				border-color: rgba( $color: #ffffff, $alpha: 0.325 );
			}
		}

		ul {
			margin: 0;
			padding: 0;
		}
	}
}

.dark-mode div.sidebar {
	background-color: var( --cfe-admin-menu--bg-color, $near_black );

	ul .nav-item a {
		&:hover,
		&:focus {
			background-color: var( --cfe-admin--menu--link--action--bg-color--dark );
			color: var( --cfe-admin--menu--link--action--text-color--dark, #ffffff );
		}
	}
}

// Mobile menu.
.navbar {
	padding: 1rem 0;

	&.bg-dark {
		background-color: var( --cfe-toolbar--bg-color ) !important;
		color: var( --cfe-toolbar--text-color );
	}

	.container {
		justify-content: flex-end;
	}

	.navbar-brand {
		display: none;
	}

	&.navbar-dark {
		.navbar-toggler {
			color: var( --cfe-toolbar--text-color );
		}

		.navbar-toggler-icon {
			background-image: url( "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='#{ svg_navbar_icon_color() }' d='M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z'/></svg>" );
			transition: all .25s ease-in-out;

			&:hover,
			&:focus {
				background-image: url( "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='#{ svg_navbar_icon_action_color() }' d='M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z'/></svg>" );
			}
		}

		.navbar-nav {
			.nav-link {
				padding: .5rem 1rem !important;
				background-color: var( --cfe-toolbar--link--bg-color );
				color: var( --cfe-toolbar--link--text-color );

				&:hover,
				&:focus {
					background-color: var( --cfe-toolbar--link--action--bg-color );
					color: var( --cfe-toolbar--link--action--text-color );
				}

				* {
					display: none;
				}
			}
		}
	}

	.navbar-toggler {
		margin-right: 1rem;
		padding: 0;
		border: none;
		font-size: 1.125rem;
	}
}

// User toolbar.
.admin-toolbar {
	position: fixed;
	top: 0;
	z-index: 8888;
	width: 100%;
	height: var( --cfe-toolbar--height );
	overflow: visible;
	padding: var( --cfe-toolbar--padding );
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: var( --cfe-toolbar--height );
	background-color: var( --cfe-toolbar--bg-color );
	color: var( --cfe-toolbar--text-color );
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgba( $color: white, $alpha: 0.125 );

	@media ( prefers-color-scheme: dark ) {}

	ul {
		list-style: none;
		margin: 0;

		&.admin-toolbar-nav-list {
			display: flex;
			gap: 0;
			padding: 0;
		}

		li {
			position: relative;
			margin: 0;
			padding: var( --cfe-toolbar--link--padding );
			max-height: 2rem;
			font-size: var( --cfe-toolbar--font-size );
			font-weight: var( --cfe-toolbar--font-weight );
			background-color: var( --cfe-toolbar--link--bg-color );
			color: var( --cfe-toolbar--link--text-color );

			@media ( prefers-color-scheme: dark ) {}

			&.has-submenu {
				display: inline-flex;
				align-items: center;
				gap: 0 0.5em;
				cursor: pointer;
			}

			&:hover,
			&:focus {
				background-color: var( --cfe-toolbar--link--action--bg-color );
				color: var( --cfe-toolbar--link--action--text-color );

				@media ( prefers-color-scheme: dark ) {}
			}

			&:hover {
				ul {
					left: 0;

					&.user-actions-sublist {
						left: auto;
						right: 0;
					}
				}
			}

			span {
				display: inline-block;

				&.svg-icon {
					cursor: pointer;
				}
			}

			a {
				display: inline-flex;
				align-items: center;
				gap: 0.5em;
				text-decoration: none;
				color: var( --cfe-toolbar--link--text-color );

				@media ( prefers-color-scheme: dark ) {}

				&:hover {
					background-color: var( --cfe-toolbar--link--action--bg-color );
					color: var( --cfe-toolbar--link--action--text-color );

					@media ( prefers-color-scheme: dark ) {}
				}

				&.admin-toolbar-logo-link {
					height: var( --cfe-toolbar--height );
					display: inline-flex;
					align-items: center;
				}
			}
		}

		ul {
			display: block;
			position: absolute;
			top: 100%;
			left: -9999em;
			padding: 0.5rem 0;
			width: 160px;
			background-color: var( --cfe-toolbar--submenu--bg-color, inherit );

			@media ( prefers-color-scheme: dark ) {}

			&.user-actions-sublist {
				left: auto;
				right: -9999em;
			}

			li {
				margin: 0;
				max-height: 100%;
				padding: 0;
				background-color: transparent;
				color: transparent;

				@media ( prefers-color-scheme: dark ) {}

				a {
					display: block;
					padding: 0 1rem;
					background-color: var( --cfe-toolbar--submenu--link--bg-color, inherit );
					color: var( --cfe-toolbar--submenu--link--text-color, inherit );

					@media ( prefers-color-scheme: dark ) {
						background-color: var( --cfe-toolbar--submenu--link--bg-color--dark, inherit );
					}

					&:hover,
					&:focus {
						background-color: var( --cfe-toolbar--submenu--link--action--bg-color, inherit );
						color: var( --cfe-toolbar--submenu--link--action--text-color, inherit );

						@media ( prefers-color-scheme: dark ) {
							background-color: var( --cfe-toolbar--submenu--link--action--bg-color--dark, inherit );
							color: var( --cfe-toolbar--submenu--link--action--text-color--dark, inherit );
						}
					}
				}
			}
		}

		img {
			display: inline-block;

			&.toolbar-avatar {
				margin: 0 0.5em;
			}
		}
	}

	.admin-toolbar-logo {
		max-height: 24px;
	}
}
