///
/// Color Scheme: Jade
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #333333;
$color_one: #079742;
$color_two: #09ba51;
$color_three: #09ba51;
$color_four: #0ce865;
$color_five: #09ba51;
$color_six: #0ce865;

$color_body_dark: #091c11;
$color_text_dark: #eeeeee;
$color_one_dark: #0ce865;
$color_two_dark: #09ba51;
$color_three_dark: #254d88;
$color_four_dark: #0ce865;
$color_five_dark: #204170;
$color_six_dark: #0ce865;
