///
/// Color Scheme: Sapphire
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #333333;
$color_one: #162d50;
$color_two: #092271;
$color_three: #092271;
$color_four: #0c2d95;
$color_five: #092271;
$color_six: #0c2d95;

$color_body_dark: #0a111b;
$color_text_dark: #eeeeee;
$color_one_dark: #467ac7;
$color_two_dark: #0c2d95;
$color_three_dark: #092271;
$color_four_dark: #0c2d95;
$color_five_dark: #092271;
$color_six_dark: #0c2d95;
