///
/// Scheme font face preview
///

@font-face {
	font-family: 'Shantell Sans';
	font-weight: 300 800;
	font-style: normal;
	font-display: swap;
	src: url( ../../../../fonts/notepad/shantell-sans.woff2 ) format( 'woff2' );
}

@font-face {
	font-family: 'Shantell Sans';
	font-weight: 300 800;
	font-style: italic;
	font-display: swap;
	src: url( ../../../../fonts/notepad/shantell-sans-italic.woff2 ) format( 'woff2' );
}

$display_stack: 'Shantell Sans', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

:root {
	--cfe-fpv--notepad--general--family: #{$display_stack};
	--cfe-fpv--notepad--display--font-family: #{$display_stack};
	--cfe-fpv--notepad--primary--font-size: 2rem;
	--cfe-fpv--notepad--secondary--font-size: 1.375rem;
	--cfe-fpv--notepad--display--font-size: 1rem;
	--cfe-fpv--notepad--general--font-size: 1rem;
}
