///
/// Color Scheme: Pewter
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #1c2224;
$color_one: #433d3d;
$color_two: #625a5a;
$color_three: #625a5a;
$color_four: #7b7f85;
$color_five: #625a5a;
$color_six: #7b7f85;

$color_body_dark: #1c2224;
$color_text_dark: #eeeeee;
$color_one_dark: #c3c6ca;
$color_two_dark: #eeeeee;
$color_three_dark: #625a5a;
$color_four_dark: #7b7f85;
$color_five_dark: #625a5a;
$color_six_dark: #7b7f85;
