:host,
:root {
  --cfe-scheme-color--body: #ffffff;
  --cfe-scheme-color--text: #333333;
  --cfe-scheme-color--one: #2094b1;
  --cfe-scheme-color--two: #2eb6d9;
  --cfe-scheme-color--three: #2eb6d9;
  --cfe-scheme-color--four: #6fcde5;
  --cfe-scheme-color--five: #2eb6d9;
  --cfe-scheme-color--six: #6fcde5;
  --cfe-scheme-color--body--dark: #0a1b20;
  --cfe-scheme-color--text--dark: #eeeeee;
  --cfe-scheme-color--one--dark: #2eb6d9;
  --cfe-scheme-color--two--dark: #6fcde5;
  --cfe-scheme-color--three--dark: #2eb6d9;
  --cfe-scheme-color--four--dark: #6fcde5;
  --cfe-scheme-color--five--dark: #2eb6d9;
  --cfe-scheme-color--six--dark: #6fcde5;
}