///
/// Color Scheme: Aquamarine
///

// Scheme colors.
$color_body: #ffffff;
$color_text: #333333;
$color_one: #2094b1;
$color_two: #2eb6d9;
$color_three: #2eb6d9;
$color_four: #6fcde5;
$color_five: #2eb6d9;
$color_six: #6fcde5;

$color_body_dark: #0a1b20;
$color_text_dark: #eeeeee;
$color_one_dark: #2eb6d9;
$color_two_dark: #6fcde5;
$color_three_dark: #2eb6d9;
$color_four_dark: #6fcde5;
$color_five_dark: #2eb6d9;
$color_six_dark: #6fcde5;
